<section class="box-about-me">
    <img id="pic" src="../res/pic.png" alt="picture of me"/>
    <div class="about-me-inside-grid">
        <div>
            <p class="inter-regular">My Story</p>
            <h2 class="poppins-medium">About Me.</h2>
        </div>
        <img src="../res/btn.svg" alt="plus btn"/>
    </div>
</section>
<div class="inside-grid">
    <section class="box-projects">
        <div>
            <p class="inter-regular">My Portfolio</p>
            <h2 class="poppins-medium">Projects.</h2>
        </div>
        <img src="../res/btn2.svg" alt="plus btn"/>
    </section>
    <section class="box">
        <div>
            <p class="inter-regular">Things I like</p>
            <h2 class="poppins-medium">Hobbies.</h2>
        </div>
        <img src="../res/btn.svg" alt="plus btn"/>
    </section>
    <section class="box">
        <div>
            <p class="inter-regular">My Abilities</p>
            <h2 class="poppins-medium">Skills.</h2>
        </div>
        <img src="../res/btn.svg" alt="plus btn"/>
    </section>
    <section class="box">
        <div>
            <p class="inter-regular">Let's Connect</p>
            <h2 class="poppins-medium">Say Hi!</h2>
        </div>
        <img src="../res/btn.svg" alt="plus btn"/>
    </section>
</div>