@import "fonts.css";
@import "media-queries.css";

:root {
    --primary-color: #1c1b1f;
    --secondary-color: #FCF8FF;
    --accent-color: #4929EB;

    --gap: 1rem;

    color: var(--primary-color);
}

html, body {height: 100%;}

p, h2 {margin: 0;}

body {
    background-color: var(--primary-color);
    margin: 0;
    display: flex;
}

.bento-box .box,
.bento-box .box-projects {
    border-radius: 16px;
    padding-left: 1.35rem;
    padding-top: 1rem;
    display: grid;
    cursor: pointer !important
}

.bento-box .box {
    background-color: var(--secondary-color);
    flex-grow: 0.5;
}

.bento-box .box-projects {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.inside-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    flex-grow: 1;
}