
.navbar-btn {
    background-color: #AF41E2;
}

.navbar-btn:hover {
    background-color: #38FC63;
}

.floating-window-dot {
    width: 24px;
    height: 24px;
    background-color: #251C28;
    border-radius: 50%;
    display: inline-block;
}

.floating-window-shadow {
    background-color: #251C28 ;
}

.main-color {
    background-color: #AF41E2;
}

.green {
    background-color: #38FC63;
}