@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body {
    background-color: #FDF7FF;
    color:  #251C28;
    font-family: 'Roboto Mono';
    border-color: red;
}

div, nav, input {
    border-color: #251C28;
}

@media (max-width: 425px) {
    :root {
        font-size: 10px;
    }
}