@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 425px) {
    :root {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    #portfolio-list, #skillset {
        display: grid;
    }

    #checkeredSprite {
        display: none;
    }

    #aboutMe {
        position: static;
    }

    #aboutMe div {
        position: static;
    }

    #navbarBtns {
        display: none;
    }
}

@media (min-width: 769px) {
    #menu {
        display: none;
    }
}

body {
    background-color: #FDF7FF;
    color:  #251C28;
    font-family: 'Roboto Mono';
    border-color: red;
}

input {
    cursor: pointer !important;
}

div, nav, button, input, a {
    border-color: #251C28;
}